@page
@using FizzBuzzWeb.Forms;
@using System.Security.Claims;
@model SavedInSessionModel

<div>
    <form method="get">
        <label for="searchTerm">Search:</label>
        <input type="text" id="searchTerm" name="searchTerm">
        <button type="submit">Search</button>
    </form>
</div>
<br />
<br />
<div id="dane">
    @if (Model.Stolenpages.Items.Count == 0)
    {
        <p>No results found.</p>
    }
    else
    {
        var sortedList = Model.Stolenpages.Items;
        <table class="table">
        @foreach (var item in sortedList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.UserId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nick)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            @if (item.UserId == Model.User.FindFirstValue(ClaimTypes.NameIdentifier))
            {
                <td>
                    <form method="post">
                        <input type="hidden" name="remid" value="@item.Id" />
                        <button type="submit" id="btn" class="btn btn-primary">Delete</button>
                    </form>
                </td>
            }
            </tr>
        }
        </table>

    }
    <nav>
        <ul class="pagination">
            <li class="page-item @(Model.Stolenpages.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" asp-page="./SavedInSession" asp-route-pageIndex=@(Model.Stolenpages.PageIndex - 1)>Previous</a>
            </li>
            @for (int i = 1; i <= Model.Stolenpages.TotalPages; i++)
            {
                <li class="page-item @(i == Model.Stolenpages.PageIndex ? "active" : "")">
                    <a class="page-link" asp-page="./SavedInSession" asp-route-pageIndex=@i>@i</a>
                </li>
            }
            <li class="page-item @(Model.Stolenpages.HasNextPage ? "" : "disabled")">
                <a class="page-link" asp-page="./SavedInSession" asp-route-pageIndex=@(Model.Stolenpages.PageIndex + 1)>Next</a>
            </li>
        </ul>
    </nav>

</div>
